<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Datatable - Users

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap")
        link(href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet")

        link(rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css")

        link(rel="stylesheet" href="css/styles.css")
    body
        div(id="modal-container" class="modal-container" data-user="")
            div(id="modal-form-container" class="modal-form-container")
                .container-button
                    h2#modal-form-title
                    button(id="modal-container-close" class="modal-container-close")
                        i(class="las la-times")

                form(id="modal-form" class="modal-form")
                    select(name="status" id="status" class="modal-form-input" placeholder="Status:")
                        option(value="2") Active
                        option(value="1") Away
                        option(value="0") Offline
                    input(type="text" name="name" id="name" class="modal-form-input" placeholder="Name:")
                    input(type="text" name="company" id="company" class="modal-form-input" placeholder="Company:")
                    select(name="country" id="country" class="modal-form-input" placeholder="Country:")
                        option(value="El Salvador") El Salvador
                        option(value="Guatemala") Guatemala
                        option(value="Mexico") Mexico
                        option(value="United States") United States
                        option(value="Italy") Italy
                        option(value="Spain") Spain
                        option(value="Greece") Greece
                        option(value="Estonia") Estonia
                        option(value="Nigeria") Nigeria
                        option(value="Antarctica") Antarctica
                    input(type="email" name="email" id="email" class="modal-form-input" placeholder="Email:")
                    button(type="submit" id="modal-form-submit")


        .container
            .section
                .options
                    .buttons
                        button#create-user-btn
                            i(class="las la-plus-circle")
                        button#edit-user-btn
                            i(class="las la-pen")
                        button#delete-user-btn
                            i(class="las la-trash")
                    .search-bar
                        span Search by:
                        select(name="search-item" id="search-item")
                            option(value="anything") Anything
                            option(value="status") Status
                            option(value="nombre") Name
                            option(value="company") Company
                            option(value="country") Country
                            option(value="email") Email
                        input(type="text" id="search-bar")
                
                table#clients
                    thead
                        tr
                            th #
                            th 
                                input(type="checkbox" name="selectAll" id="select-all")
                            th Status
                            th Name
                            th Company
                            th Country
                            th Email
                    tbody#rows-clients
                        tr
                            td(colspan="7")
                                .loading
                                p.loading-text Getting data...
                        
                .footer
                    .show-entries
                        p
                            span Show
                            select(name="entries-number" id="entries-number")
                                option(value="10") 10
                                option(value="25") 25
                                option(value="50") 50
                                option(value="100") 100
                                option(value="all") All
                            span entries

                    div(id="pagination-container" class="buttons pagination")

        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@10")
        script(src="js/scripts.js")
                    